################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProiectASP/.vs/ProiectASP/FileContentIndex
*.user
*.suo
/bin
/obj

/ProiectASP/ProiectASP/bin/Debug/net6.0
/ProiectASP/ProiectASP/obj
/ProiectASP/.vs/ProiectASP/v17
