################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProiectASP/.vs/ProiectASP/FileContentIndex
*.user
*.suo
/bin
/obj

